{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}

<h2 class="p-5" style="color: rgb(0, 0, 0);">Manage All Posts >>></h2>
<div class="container px-4 pt-5 pb-5">
    <div class="row gx-5">
        {% for blogs in post_list %}
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150x100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: brown;">{{blogs.title}}</h5>
              <p class="card-text">{{blogs.content}}</p>
              <p class="card-text" style="color: rgb(0, 36, 238);">Published on : {{blogs.published}}</p>
              <a href="{{blogs.get_absolute_url}}" class="btn btn-primary">View More</a>
            </div>

            <div class="card-footer">
                <small class="text-muted">Last updated {{blogs.updated}}</small>
            </div>

        </div>
      </div>
      {% endfor %}
      
      
    </div>
  </div>




{% endblock %}