{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}


<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-header" style="color: brown;">
            {{post.title}}
        </div>
        <div class="card-body">
            <img src="https://via.placeholder.com/150x100" class="card-img-top" alt="..." style="width: 18rem;"> 
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text">Author : {{post.author}}</p>
          <p class="card-text">Post Updated on{{post.updated}}</p>
          <p class="card-text">Post Published on{{post.published}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



</div>









{% endblock %}